body {
    background-color: var(--background);
}

main {
    background-color: var(--primary);
    max-width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    top: -120px; 
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 4rem;
    padding: 4rem 1rem;
    transition: transform 0.9s ease;
    will-change: transform;
}

#city-input {
    padding: 1em;
    font-size: 1.2rem;
    border: 2px solid #ddd;
    border-radius: 20px;
    width: 450px;
    margin-right: 10px;
    transition: border-color 0.9s ease;

    &:focus {
        border: 3px solid;
        border-color: var(--accent-2);
        outline: none;
    }
}

#search-btn {
    padding: 15px 20px;
    font-size: 1.2rem;
    background-color: var(--accent-2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--accent-1);
    }
}

.hidden { display: none; }

.spinner {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

#weatherChart {
    max-width: 700px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

